<h1>Car Parts Database</h1>

<form action="/add-car" method="POST">
  <input type="text" name="carID" placeholder="Enter car ID" required>
  <input type="text" name="carModel" placeholder="Enter car model" required>
  <button type="submit">Add Car</button>
</form>

<ul>
  <% cars.forEach(car => { %>
    <li>
      <%= car._id %> - <%= car.model %>
      <form action="/delete/<%= car._id %>" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
